<div>
    <h1 class="text-xl">Compétences</h1>
    <p>Voici une liste des langages et technologies que je maitrise.</p><br>
    <div class="flex gap-2 items-center mb-1"><img alt="" loading="lazy" width="16" height="16" decoding="async"
            data-nimg="1" class="dark:invert" style="color: transparent;" src="/languages.svg">
        <h2 class="text-lg">Langues</h2>
    </div>
    <div class="flex flex-wrap gap-4 my-2">
        <p class="border border-[--text-color] rounded-full px-3">Français</p>
        <p class="border border-[--text-color] rounded-full px-3">Anglais</p>
    </div><br>
    <div class="flex gap-2 items-center mb-1"><img alt="" loading="lazy" width="16" height="16" decoding="async"
            data-nimg="1" class="dark:invert" style="color: transparent;" src="/code.svg">
        <h2 class="text-lg">Langages</h2>
    </div>
    <div class="flex flex-wrap gap-4 my-2">
        <p class="border border-[--text-color] rounded-full px-3">HTML</p>
        <p class="border border-[--text-color] rounded-full px-3">CSS</p>
        <p class="border border-[--text-color] rounded-full px-3">JS</p>
        <p class="border border-[--text-color] rounded-full px-3">TS</p>
        <p class="border border-[--text-color] rounded-full px-3">Dart</p>
        <p class="border border-[--text-color] rounded-full px-3">SQL</p>
        <p class="border border-[--text-color] rounded-full px-3">Python</p>
        <p class="border border-[--text-color] rounded-full px-3">C</p>
        <p class="border border-[--text-color] rounded-full px-3">C++</p>
        <p class="border border-[--text-color] rounded-full px-3">Swift</p>
        <p class="border border-[--text-color] rounded-full px-3">R</p>
        <p class="border border-[--text-color] rounded-full px-3">Bash Script</p>
        <p class="border border-[--text-color] rounded-full px-3">PHP</p>
        <p class="border border-[--text-color] rounded-full px-3">Java</p>
        <p class="border border-[--text-color] rounded-full px-3">Go</p>
    </div><br>
    <div class="flex gap-2 items-center mb-1"><img alt="" loading="lazy" width="16" height="16" decoding="async"
            data-nimg="1" class="dark:invert" style="color: transparent;" src="/code_square.svg">
        <h2 class="text-lg">Librairies et Frameworks</h2>
    </div>
    <div class="flex flex-wrap gap-4 my-2">
        <p class="border border-[--text-color] rounded-full px-3">React</p>
        <p class="border border-[--text-color] rounded-full px-3">Vite</p>
        <p class="border border-[--text-color] rounded-full px-3">TailwindCSS</p>
        <p class="border border-[--text-color] rounded-full px-3">NextJS</p>
        <p class="border border-[--text-color] rounded-full px-3">VueJS</p>
        <p class="border border-[--text-color] rounded-full px-3">NodeJS</p>
        <p class="border border-[--text-color] rounded-full px-3">Express</p>
        <p class="border border-[--text-color] rounded-full px-3">Socket.IO</p>
        <p class="border border-[--text-color] rounded-full px-3">Flutter</p>
        <p class="border border-[--text-color] rounded-full px-3">TinyButStrong</p>
    </div><br>
    <div class="flex gap-2 items-center mb-1"><img alt="" loading="lazy" width="16" height="16" decoding="async"
            data-nimg="1" class="dark:invert" style="color: transparent;" src="/cloud.svg">
        <h2 class="text-lg">Services et Cloud</h2>
    </div>
    <div class="flex flex-wrap gap-4 my-2">
        <p class="border border-[--text-color] rounded-full px-3">Firebase</p>
        <p class="border border-[--text-color] rounded-full px-3">Supabase hosted &amp; selfhosted</p>
        <p class="border border-[--text-color] rounded-full px-3">Google Play Store</p>
        <p class="border border-[--text-color] rounded-full px-3">Stripe</p>
        <p class="border border-[--text-color] rounded-full px-3">Resend</p>
        <p class="border border-[--text-color] rounded-full px-3">OVH Domains &amp; Hosting</p>
        <p class="border border-[--text-color] rounded-full px-3">Simple Analytics</p>
        <p class="border border-[--text-color] rounded-full px-3">Meta Business Suite</p>
        <p class="border border-[--text-color] rounded-full px-3">Vercel</p>
        <p class="border border-[--text-color] rounded-full px-3">Render</p>
        <p class="border border-[--text-color] rounded-full px-3">Cloudflare DNS &amp; Zero Trust</p>
        <p class="border border-[--text-color] rounded-full px-3">Oracle</p>
    </div><br>
    <div class="flex gap-2 items-center mb-1"><img alt="" loading="lazy" width="16" height="16" decoding="async"
            data-nimg="1" class="dark:invert" style="color: transparent;" src="/command_line.svg">
        <h2 class="text-lg">Outils et OS</h2>
    </div>
    <div class="flex flex-wrap gap-4 my-2">
        <p class="border border-[--text-color] rounded-full px-3">Git</p>
        <p class="border border-[--text-color] rounded-full px-3">Github</p>
        <p class="border border-[--text-color] rounded-full px-3">Nginx</p>
        <p class="border border-[--text-color] rounded-full px-3">SSH</p>
        <p class="border border-[--text-color] rounded-full px-3">Fedora</p>
        <p class="border border-[--text-color] rounded-full px-3">Debian</p>
        <p class="border border-[--text-color] rounded-full px-3">Ubuntu</p>
        <p class="border border-[--text-color] rounded-full px-3">VScode</p>
        <p class="border border-[--text-color] rounded-full px-3">Suite IntelliJ &amp; Android Studio</p>
        <p class="border border-[--text-color] rounded-full px-3">Postman</p>
        <p class="border border-[--text-color] rounded-full px-3">Figma</p>
        <p class="border border-[--text-color] rounded-full px-3">Adobe Express</p>
        <p class="border border-[--text-color] rounded-full px-3">Illustrator</p>
        <p class="border border-[--text-color] rounded-full px-3">Coolify</p>
        <p class="border border-[--text-color] rounded-full px-3">Docker</p>
    </div><br>
</div>