<div>
    <h1 class="text-xl">Parcours</h1>
    <p>Retrouvez-ici mon parcours universitaire et professionnel.</p><br>
    <div class="flex gap-2 items-center mb-1"><img alt="" loading="lazy" width="16" height="16" decoding="async"
            data-nimg="1" class="dark:invert" style="color: transparent;" src="/academic.svg">
        <h2 class="text-lg">Formation</h2>
    </div>
    <ul>
        <li class="flex gap-4 mb-3">
            <p class="text-sm italic">2025<br>2027</p>
            <div>
                <p class="font-bold">Master Informatique</p>
                <p>Parcours Ingénieurie du développement logiciel</p>
                <p class="text-sm font-light">Aix Marseille Université</p>
            </div>
        </li>
        <li class="flex gap-4 mb-3">
            <p class="text-sm italic">2022<br>2025</p>
            <div>
                <p class="font-bold">Licence Informatique</p>
                <p>Mineure économie gestion, création numérique, science des données</p>
                <p class="text-sm font-light">Université Lumière - Lyon</p>
            </div>
        </li>
        <li class="flex gap-4 mb-3">
            <p class="text-sm italic">2019<br>2022</p>
            <div>
                <p class="font-bold">Baccalauréat Général</p>
                <p>Mention Bien - Section Européenne<br>Mathématiques, Sciences Économiques et Sociales, Physique et
                    Chimie</p>
                <p class="text-sm font-light">Lycée Polyvalent Louis Armand - Villefranche-sur-saône</p>
            </div>
        </li>
    </ul><br>
    <div class="flex gap-2 items-center mb-1"><img alt="" loading="lazy" width="16" height="16" decoding="async"
            data-nimg="1" class="dark:invert" style="color: transparent;" src="/document_check.svg">
        <h2 class="text-lg">Certifications</h2>
    </div>
    <ul>
        <li class="flex gap-4 mb-3">
            <p class="text-sm italic">2023</p>
            <div>
                <p class="font-bold">PIX</p>
                <p>Certification en bureautique</p>
                <p class="text-sm font-light">Université Lumière - Lyon</p>
            </div>
        </li>
        <li class="flex gap-4 mb-3">
            <p class="text-sm italic">2022</p>
            <div>
                <p class="font-bold">Cambridge English</p>
                <p>Certification en Anglais, niveau B2</p>
                <p class="text-sm font-light">Lycée Polyvalent Louis Armand - Villefranche-sur-saône</p>
            </div>
        </li>
    </ul><br>
    <div class="flex gap-2 items-center mb-1"><img alt="" loading="lazy" width="16" height="16" decoding="async"
            data-nimg="1" class="dark:invert" style="color: transparent;" src="/briefcase.svg">
        <h2 class="text-lg">Stages et missions freelance</h2>
    </div>
    <ul>
        <li class="flex gap-4 mb-3">
            <p class="text-sm italic">2025</p>
            <div>
                <p class="font-bold">Développeur web et webmaster</p>
                <p>Amélioration du site internet, développement d'un mini dashboard avec Go.</p>
                <p class="text-sm font-light">Hébé-échange - Lyon</p>
            </div>
        </li>
        <li class="flex gap-4 mb-3">
            <p class="text-sm italic">2024</p>
            <div>
                <p class="font-bold">Développeur fullstack freelance</p>
                <p>Création et mise en ligne du site TwinsRental.</p>
                <p class="text-sm font-light">En distanciel - Lyon</p>
            </div>
        </li>
        <li class="flex gap-4  mb-3">
            <p class="text-sm italic">2024</p>
            <div>
                <p class="font-bold">Développeur Flutter freelance</p>
                <p>Développement d'une maquette en flutter avec une mini API (expressJS) pour communiquer avec Gemini.
                </p>
                <p class="text-sm font-light">En distanciel - Lyon</p>
            </div>
        </li>
    </ul><br>
    <div class="flex gap-2 items-center mb-1"><img alt="" loading="lazy" width="16" height="16" decoding="async"
            data-nimg="1" class="dark:invert" style="color: transparent;" src="/briefcase.svg">
        <h2 class="text-lg">Emplois</h2>
    </div>
    <ul>
        <li class="flex gap-4 mb-3">
            <p class="text-sm italic">2025</p>
            <div>
                <p class="font-bold">Postier</p>
                <p>Facteur pour le groupe LaPoste</p>
                <p class="text-sm font-light">Genay (Rhône)</p>
            </div>
        </li>
        <li class="flex gap-4 mb-3">
            <p class="text-sm italic">2022<br>2024</p>
            <div>
                <p class="font-bold">Employé Polyvalent</p>
                <p>Entretient des locaux et espaces verts - Réception - Garde d'enfants</p>
                <p class="text-sm font-light">Manoir de la garde - Jarnioux (Rhône)</p>
            </div>
        </li>
        <li class="flex gap-4  mb-3">
            <p class="text-sm italic">2022</p>
            <div>
                <p class="font-bold">Gestionnaire Locatif Junior</p>
                <p>Service Clientèle Locative - Support téléphonique et email - Dialogues entre les bailleurs,
                    locataires et prestataires.</p>
                <p class="text-sm font-light">Century 21 Coquillat Immobilier - Villefranche-sur-saône (Rhône)</p>
            </div>
        </li>
    </ul><br>
</div>