/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --text-color: #1A120B;
  --selected-text-color: #D5CEA3;
  --background-color: #E5E5CB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #FFF;
    --background-color: #1A120B;
  }
}

html, body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {  
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 130px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}
